certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1625831763871/work
colorama==0.4.5
comtypes==1.1.4
cycler==0.11.0
importlib-resources==5.4.0
joblib==1.1.0
kiwisolver==1.3.1
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1603480701039/work
olefile==0.46
opencv-python==4.6.0.66
pandas==0.25.0
Pillow @ file:///C:/ci/pillow_1625663293114/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pygame==2.1.2
pykinect2==0.1.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==0.22.1
scipy==1.5.4
seaborn==0.11.2
simplejson==3.17.6
six @ file:///tmp/build/80754af9/six_1644875935023/work
torch==1.1.0
torchvision==0.3.0
tqdm==4.64.0
wincertstore==0.2
zipp==3.6.0
